<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form And Input Binding</title>
    <link rel="stylesheet" href="../assets/index.css" />
  </head>

  <div id="app">
   
    <pre> {{ signUpForm }} </pre>
    <div class="container">
      <form id="signup-form">
        <header>نام‌نویسی در سایت</header>
        <div class="d-flex space-around">
          <div class="field">
            <label for="firstname">نام</label>
            <input type="text" id="firstname" v-model.lazy.trim="signUpForm.firstname"/>
          </div>

          <div class="field">
            <label for="lastname">نام خانوادگی</label>
            <input type="text" id="lastname" v-model.trim="signUpForm.lastname"/>
          </div>
        </div>

        <div class="field">
          <label for="age">سن</label>
          <input type="number" id="age" v-model.number="signUpForm.age" />
        </div>
        <div class="field">
          <label for="skill">میزان مهارت</label>
          <select id="skill" v-model="signUpForm.skill">
            <option disabled value="">مهارت خودتون رو انتخاب کنین</option>
            <!-- <option value="low">کم</option>
            <option value="medium">متوسط</option>
            <option value="high">زیاد</option> -->
            <option v-for="option in oprtionsData" :value="option.value" :key="option.id">{{ option.text }}</option>
          </select>
        </div>

        <div class="field radio">
          <label>جنسیت</label>

          <div class="radio-field animated-inputs">
            <input type="radio" name="gender" id="male" value="male" v-model="signUpForm.gender" />
            <label for="male"
              >آقا
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M27.8,18.6c-3.7,5.1-7.3,10.1-11,15.2c13.7-6.9,27.5-13.9,42.4-17.6c-4.5,5.5-10.4,9.7-15.7,14.5
          c-4.4,4-8.5,8.4-12.5,12.8C25,50,19,56.5,14.1,63.9c10.2-6.1,20.4-12.2,30.6-18.4c3.1-1.9,6.2-3.7,9.4-5.2c3.2-1.4,6.5-2.5,9.7-3.7
          c7.5-2.8,14.7-6.5,21.8-10.2c-4.2,3.7-9.4,6.1-13.9,9.4c-3.1,2.3-5.8,4.9-8.8,7.4c-3.5,2.9-7.3,5.4-10.7,8.4
          c-4.5,4.2-8,9.3-11.6,14.2c-4.6,6.1-9.6,11.9-14.3,17.9c9.7-8.4,17-19.5,27.5-26.9c7.1-5,15.3-8.2,23.6-10.6
          c2.9-0.8,5.8-1.6,8.4-3.1c-3.5,4.9-8.2,8.7-12.8,12.6c-7.6,6.7-14.5,14-20.7,22C62.7,74.1,71,66.1,81.4,63.2"
                />
              </svg>
            </label>
          </div>
          <div class="radio-field animated-inputs">
            <input type="radio" name="gender" id="female" value="female" v-model="signUpForm.gender"/>
            <label for="female"
              >خانم

              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M27.8,18.6c-3.7,5.1-7.3,10.1-11,15.2c13.7-6.9,27.5-13.9,42.4-17.6c-4.5,5.5-10.4,9.7-15.7,14.5
          c-4.4,4-8.5,8.4-12.5,12.8C25,50,19,56.5,14.1,63.9c10.2-6.1,20.4-12.2,30.6-18.4c3.1-1.9,6.2-3.7,9.4-5.2c3.2-1.4,6.5-2.5,9.7-3.7
          c7.5-2.8,14.7-6.5,21.8-10.2c-4.2,3.7-9.4,6.1-13.9,9.4c-3.1,2.3-5.8,4.9-8.8,7.4c-3.5,2.9-7.3,5.4-10.7,8.4
          c-4.5,4.2-8,9.3-11.6,14.2c-4.6,6.1-9.6,11.9-14.3,17.9c9.7-8.4,17-19.5,27.5-26.9c7.1-5,15.3-8.2,23.6-10.6
          c2.9-0.8,5.8-1.6,8.4-3.1c-3.5,4.9-8.2,8.7-12.8,12.6c-7.6,6.7-14.5,14-20.7,22C62.7,74.1,71,66.1,81.4,63.2"
                />
              </svg>
            </label>
          </div>
        </div>

        <div class="field checkbox">
          <label>رنگ های مورد علاقه</label>

          <div class="checkbox-field animated-inputs">
            <input type="checkbox" id="red" value="red" v-model="signUpForm.favColors" />
            <label for="red"
              >قرمز
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M22.3,61.3c5.7,4.1,13.2,11.8,16.7,18C53,60.5,66,41,77.7,20.8"
                />
              </svg>
            </label>
          </div>
          <div class="checkbox-field animated-inputs">
            <input type="checkbox" id="blue" value="blue" v-model="signUpForm.favColors"/>
            <label for="blue"
              >آبی
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M22.3,61.3c5.7,4.1,13.2,11.8,16.7,18C53,60.5,66,41,77.7,20.8"
                />
              </svg>
            </label>
          </div>
          <div class="checkbox-field animated-inputs">
            <input type="checkbox" id="orange" value="orange" v-model="signUpForm.favColors"/>
            <label for="orange"
              >نارنجی
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M22.3,61.3c5.7,4.1,13.2,11.8,16.7,18C53,60.5,66,41,77.7,20.8"
                />
              </svg>
            </label>
          </div>
        </div>

        <div class="field">
          <label for="about_me">درباره من</label>
          <textarea id="about_me" class="no-resize" rows="5" v-model="signUpForm.aboutMe"></textarea>
        </div>

        <div class="field checkbox">
          <div class="checkbox-field animated-inputs">
            <input type="checkbox" id="terms" v-model="signUpForm.terms" true-value="yes" false-value="no"/>
            <label for="terms"
              >با قوانین و مقررات سایت موافق هستم.
              <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M22.3,61.3c5.7,4.1,13.2,11.8,16.7,18C53,60.5,66,41,77.7,20.8"
                />
              </svg>
            </label>
          </div>
        </div>
        <div class="field">
          <button>نام‌نویسی</button>
        </div>
      </form>
    </div>
  </div>

  <body>
    <script src="../assets/vue.3.1.4.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            signUpForm: {
              firstname: '',
              lastname: '',
              age: '',
              skill: '',
              gender: '',
              favColors: [],
              aboutMe: '',
              terms: ''
            },
            oprtionsData:[
              { id: 1, text: 'کم', value:'low'},
              { id: 2, text: 'متوسط', value:'medium'},
              { id: 3, text: 'خیلی', value:'high'},
            ],
          };
        },
        watch:{
          signUpForm:{
            handler: (newVal, oldValue) =>{
              console.log(typeof newVal.age)
            },
            deep: true
          }
        }
      });
      const vm = app.mount("#app");
    </script>
  </body>
</html>
