@import "https://cdn.jsdelivr.net/npm/vazir-font@30.1.0/dist/Farsi-Digits/font-face-FD.css";

* {
  box-sizing: border-box;
  font-family: "Vazir FD", sans-serif;
}

:root {
  --checkbox-color: #ee9ca7;
  --checkbox-shadow: rgba(238, 156, 167, 0.2);
  --add-button: #ee9ca7;
  --add-button-shadow: rgba(238, 156, 167,0.4);
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  background-image: linear-gradient(62deg, rgba(1, 95, 183, 0.9732216701) 13%, rgba(255, 122, 151, 0.5) 4%), linear-gradient(44deg, rgba(0, 43, 99, 0.0792209024) 39%, rgba(242, 140, 143, 0.5) 18%), linear-gradient(118deg, rgba(84, 202, 242, 0.0315299727) 40%, rgba(247, 155, 187, 0.5) 54%), linear-gradient(58deg, rgba(90, 90, 237, 0.1614444357) 83%, rgba(249, 156, 142, 0.5) 23%);
  background-blend-mode: normal, lighten, multiply, hard-light;
  overflow: hidden;
  z-index: -1;
}

input {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

.app-container {
  border-radius: 8px;
  width: 100%;
  max-width: 480px;
  max-height: 100%;
  background-color: #10101d;
  padding: 24px;
  /* overflow: auto; */
  position: relative;
}

.app-header {
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 12px 0;
  color: #fff;
  direction: ltr;
}

.submit-task {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: none;
  background: var(--add-button);
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'/%3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3C/svg%3E");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 12px 0 var(--add-button-shadow);
}
.edit-task {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Ccircle style='fill:%236DC180;' cx='256' cy='256' r='256'/%3E%3Cpath style='fill:%235CA15D;' d='M256,0v512c141.385,0,256-114.615,256-256S397.385,0,256,0z'/%3E%3Cpolygon style='fill:%23F2F2F4;' points='219.429,367.932 108.606,257.108 147.394,218.32 219.429,290.353 355.463,154.32 394.251,193.108 '/%3E%3Cpolygon style='fill:%23DFDFE1;' points='256,331.361 394.251,193.108 355.463,154.32 256,253.782 '/%3E%3C/svg%3E");  
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 12px 0 var(--add-button-shadow);
}

.add-task {
  height: 40px;
  font-size: 14px;
  display: flex;
}

.task-input {
  border-right: none;
  width: 100%;
  padding: 0 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  margin-right: 12px;
  color: #fff;
  box-shadow: none;
  border-radius: 0;
}
.task-input:placeholder {
  color: #fff;
}
.task-list{
  max-height: 40vh;
  text-align: left;
  overflow: hidden;
  overflow-y: auto;
  
}
.task-list-item {
  background-color: #191933;
  border-radius: 4px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  padding: 8px;
}
.task-list-item input {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check' stroke='%23fff'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition: 0.2s;
  margin-right: 8px;
  flex-shrink: 0;
  margin-top: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.task-list-item input:hover {
  border-color: var(--checkbox-color);
  box-shadow: 0 0 0 3px var(--checkbox-shadow);
}
.task-list-item input:checked {
  background-size: 10px;
  border: 1px solid var(--checkbox-color);
  background-color: var(--checkbox-color);
}
.task-list-item input:checked + span {
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-decoration: line-through rgba(255, 255, 255, 0.8);
          text-decoration: line-through rgba(255, 255, 255, 0.8);
}
.task-list-item-label {
  display: flex;
  align-items: flex-start;
  color: #fff;
  margin-right: 8px;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
}
.task-list-item-label span{
  text-align: right;
}
.delete-btn {
  margin-right: auto;
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ff3d46' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'%3E%3Cpolyline points='3 6 5 6 21 6'/%3E%3Cpath d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'/%3E%3Cline x1='10' y1='11' x2='10' y2='17'/%3E%3Cline x1='14' y1='11' x2='14' y2='17'/%3E%3C/svg%3E");
  background-size: 16px;
  background-position: center;
  cursor: pointer;
}
.edit-btn {
  margin-left: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath style='fill:%23EFC377;' d='M183.49,328.51l-60.4-60.402c-3.359,3.359-5.243,7.91-5.244,12.66l0.002,42.494v52.986 c0,4.946,2.005,9.421,5.243,12.66c3.241,3.238,7.716,5.243,12.66,5.243h52.983l42.498,0.002c4.749,0,9.306-1.888,12.66-5.243 L183.49,328.51z'/%3E%3Cpolygon style='fill:%23F4D944;' points='397.604,184.562 362.521,149.479 327.438,114.399 302.122,89.079 123.089,268.108 183.49,328.51 243.89,388.912 422.92,209.88 '/%3E%3Cpath style='fill:%23DD539C;' d='M506.469,101.013l-47.742-47.742L410.987,5.53c-6.994-6.991-19.188-6.132-27.235,1.918L302.12,89.079 l25.316,25.318l35.083,35.083l35.081,35.081l0.002,0.002l25.315,25.316l81.635-81.631 C512.604,120.199,513.46,108.004,506.469,101.013z'/%3E%3Cpath style='fill:%23424EDE;' d='M488.727,232.729c-12.853,0-23.273,10.42-23.273,23.273v209.453H46.545V46.545H256 c12.853,0,23.273-10.42,23.273-23.273S268.853,0,256,0H23.273C10.42,0,0,10.42,0,23.273v465.455C0,501.58,10.42,512,23.273,512 h465.455C501.58,512,512,501.58,512,488.727V256.002C512,243.147,501.58,232.729,488.727,232.729z'/%3E%3Cpath style='fill:%23ECB555;' d='M123.089,388.911l60.4-60.4l-60.4-60.402c-3.359,3.359-5.243,7.91-5.244,12.66l0.002,42.494v52.986 C117.847,381.196,119.851,385.671,123.089,388.911z'/%3E%3Cpolygon style='fill:%23F1CC30;' points='362.521,149.479 327.438,114.399 302.122,89.079 123.089,268.108 183.49,328.51 '/%3E%3Cg%3E%3Cpolygon style='fill:%23DB348A;' points='397.604,184.562 422.92,209.88 397.605,184.562 '/%3E%3Cpath style='fill:%23DB348A;' d='M362.521,149.479l96.206-96.208L410.987,5.53c-6.994-6.991-19.188-6.132-27.235,1.918L302.12,89.079 l25.316,25.318L362.521,149.479z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 16px;
  background-position: center;
  cursor: pointer;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
.filter-section{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly; 
}
.filter-section a{
  text-decoration: none;
  color: white;
  font-size: 13px;
  padding: 5px 20px;
  background-color: #2669e7;
  transition: 0.3s cubic-bezier(1, -0.52, 1, 1);
}
.filter-section a:hover{
  transform: scale(1.12);
}